html, body, form {
    margin: 0;
    max-width: 100%;
    background-color: #fafafa;
    font-family: 'Poppins', sans-serif;
    color: #858585;
    font-weight: light;
}


.imageLoading {
    background: url(/custom/parana/imagenes/loading.gif);
    z-index: 99998;
    height: 150px;
    width: 200px;
    opacity: 0.7;
    background-size: contain;
    display: inline-block;
    position: absolute;
    left: 45%;
    top: 20%;
    background-repeat: no-repeat !important;
}

.mover-ingresar {
    display:none;
}

@media (min-width: 768px) {
    .logosistema {
    display:none;
}

#arribactrl2_div_buscador{
    position: absolute;
	top: 20px;
}

}




/* SIDEBAR */

#sidebar {
    border: 0 solid grey;
    border-radius: 0px 0px 12px 0px;
    -webkit-border-radius: 0px 0px 12px 0px;
    -moz-border-radius: 0px 0px 12px 0px;
    height: 90vh;
    box-shadow: 0px 1px 6px 0px rgb(0 0 0 / 25%);
    -webkit-box-shadow: 0px 1px 6px 0px rgb(0 0 0 / 25%);
    -moz-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.25);
}

#sidebar .sidebar-header {
    background: #FFFFFF;
}



@property --color1 {
    syntax: '<color>';
    initial-value: rgba(0,0,0,0);
    inherits: false;
}

@property --color2 {
    syntax: '<color>';
    initial-value: rgba(0,0,0,0);
    inherits: false;
}

@property --color3 {
    syntax: '<color>';
    initial-value: rgba(0,0,0,0);
    inherits: false;
}

.menuvisitante {
    padding: 15px 20px;
    font-weight: 600;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out,box-shadow .2s ease-in-out;
    background: linear-gradient(0deg, var(--color1) 0%, var(--color2) 0%, var(--color3) 100%);
    transition: --color1 .5s, --color2 1s, --color3 1.5s;
}

    .menuvisitante:hover {
        color: #FFFFFF;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;        
        --color1: rgba(2,0,36,1);
        --color2: rgba(36,104,141,1);
        --color3: rgba(0,143,163,1);
    }




/* LOGIN */

.slogan3 {
    margin: 0 auto;
	display: block !important;
	color: #666666;
	font-size: 0.8em;
	font-family: 'Poppins', sans-serif;
}


.crearcuentadiv {
    display: inline-flex !important;
	margin: 0 auto;
}

@media (max-width: 333px) {
    .crearcuentadiv {
        display: inline-grid !important;
    }
}

.crearcuenta {
    color: #005b88!important;
	font-weight: 600;
	background-color: transparent!important;
	border: 0!important;
	width: auto!important;
	padding: 0 0 0 10px;
}

.textocrearcuenta {
    display: block !important;
	color: #666666;
	float: left;
}

#btnLogin{
    width: 60% !important;
    margin: 0 auto;
}

#btnProblemas{
    width: fit-content !important;
    margin: 20px auto;
	background-color: transparent!important;
	border: 0;
	color: #24688d;
}

#btnGuiaTramites{
    width: fit-content !important;
    background-color: transparent!important;
	margin: 0 auto;
	border: 0;
	color: #24688d;
}

#btnConsultas{
    width: fit-content !important;
    background-color: transparent!important;
	margin: 0 auto;
	border: 0;
	color: #24688d;

}

.fueradeplaca {
    max-width: 450px;
	margin: 0 auto;
}

@media (max-width: 320px) {
#btnGuiaTramites{
    font-size: 0.8em;
}

#btnConsultas{
    font-size: 0.8em;
}
}

.pielogin {
    background-color: transparent!important;
}

.div_cuil_login {
    max-width: 350px;
	margin: 0 auto;
	padding-bottom:10px;
}

.div_password_login {
    max-width: 350px;
	margin: 0 auto;
	padding-bottom:10px;
}

.div_recordar_login {
    max-width: 350px;
	margin: 0 auto;
	padding-bottom:10px;
}

.logintexto {
    display: block !important;
	max-width: 100% !important;
	float: none!important;
	text-align: center;
}

.loginmail {
    display: block !important;
}

.logintexto1 {
    visibility: visible !important;
    color: #666666;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1em;
    padding-left: 40px;
    padding-top: 20px;
}

.logintexto2 {
    visibility: visible !important;
    color: #FFFFFF;
    font-size: 1em;
    padding-left: 40px;
}

.logintexto3 {
    display: block !important;
    color: #666666;
    font-size: 1em;
    text-align: center;
}

.card {
    border-radius: 10px;
    margin-top: 10px;
    background-color: #FFFFFF;
}

.card-body {
    background-color: transparent;
}


.card-login {
    margin-top: 0 !important;
    border-radius: 10px;
    max-width: 500px;
    /*background: rgb(3,38,252);
	background: linear-gradient(220deg, rgba(3,38,252,1) 0%, rgba(73,224,253,1) 63%);*/
    color: #666666;
	box-shadow: 0px 1px 6px 0px rgb(0 0 0 / 25%);
    -webkit-box-shadow: 0px 1px 6px 0px rgb(0 0 0 / 25%);
    -moz-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.25);
}

.card-login-admin {
    float: none;
}

.divLogin_titulo {
    background-image: url(/custom/parana/imagenes/iniciarsesion.png) !important;
    background-repeat: no-repeat !important;
    background-position: center top !important;
    background-color: transparent;
    font-size: 22px;
    color: white;
    font-family: arial;
}

.loginimagenfondo {
    background: url(/custom/parana/imagenes/loginimagenfondo.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-right: 0;
    padding-left: 0;
    margin-top: 3rem !important;
    border-radius: 10px;
}


.card-header:first-child {
    border-radius: 10px 10px 0 0;
}

/*.card-header {
    border-bottom: 0;
	color: #FFFFFF;
	background: linear-gradient(220deg, rgba(73,224,253,1) 0%, rgba(3,38,252,1) 93%);
	position: relative;
	-webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 5px 15px 5px rgba(0,0,0,0); 
	box-shadow: 0px 10px 13px -7px #000000, 0px 5px 15px 5px rgba(0,0,0,0);
	margin-bottom: 20px;
}

.card-header:after {
  content: "";
  position: relative;
}*/

.curved:after {
    position: relative;
    z-index: -2;
}

.card-header-ocultar {
    background: transparent;
    -webkit-box-shadow: 0px 0px 0px 0px #000000 !important;
    box-shadow: 0px 0px 0px 0px #000000 !important;
}

.card-footer {
    background-color: #e0e0e0;
}

    .card-footer:last-child {
        border-radius: 0 0 10px 10px;
    }

.placalogin {
    background: url(/custom/parana/imagenes/logologin.png);
    background-repeat: no-repeat;
    background-position: center top;
    padding: 140px 50px 50px 50px;
    width: auto;
    height: auto;
    overflow: hidden;
	
}

.placaconsulta {
    background: url(/custom/parana/imagenes/logologin.png);
    background-repeat: no-repeat;
    background-position: center top;
    border-radius: 10px;
    padding: 140px 50px 50px 50px;
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #f3f3f5;
    -webkit-box-shadow: -4px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: -4px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: -4px 0px 5px 0px rgba(50, 50, 50, 0.75);
    margin: 0 auto;
}

.contenedorconsulta {
    width: 100%;
    max-width: 800px;
    margin: 40px auto;
}

.captchaconsulta {
    width: 100%;
    transform: initial !important;
    margin: 20px 0;
}

.form-controlconsulta {
    margin: 5px 0;
}

#divverificacion {
    transform: scale(0.84);
    transform-origin: 0 0;
}

@media (max-width: 1200px) {
    .loginimagenfondo {
        background: url(/custom/parana/imagenes/loginimagenfondo2.jpg);
        background-repeat: no-repeat;
        background-position: left center;
        padding-right: 0;
        padding-left: 0;
        margin-top: 2rem !important;
    }
}

@media (max-width: 991px) {
    .placalogin {
        float: none;
        background-color: transparent;
        padding: 140px 0 0 0;
        -webkit-box-shadow: -4px 0px 5px 0px rgba(50, 50, 50, 0.0);
        -moz-box-shadow: -4px 0px 5px 0px rgba(50, 50, 50, 0.0);
        box-shadow: -4px 0px 5px 0px rgba(50, 50, 50, 0.0);
    }

    .loginimagenfondo {
        background: none;
    }

    .card-login {
        float: none;
        margin: 0 auto;
    }

    .logintexto {
        display: none !important;
    }
}

/* DATAGRID */
.dtgheader {
    background-color: #005b88 !important;
}

/* RUBROS */
.headerrubro {
    background-color: #24688e !important;
    color: #fff;
}

.headerrubrobottom {
    height: 5px;
    background-color: rgb(0, 143, 163);
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: block;
    overflow: hidden;
}

.vermas {
    color: #47bcca;
}

.subtitulo_sitio {
    color: #5a5a5a;
}

.subtitulo {
    color: #858585;
    border-bottom: 1px solid #e7e7e7;
    font-size: 18px;
}

.titulo {
    color: #005b88;
    border-bottom: 1px solid #e7e7e7 !important;
    font-weight: 700;
}

.descargararchivos {
    list-style-type: none;
}

.parrafo {
    margin-bottom: 20px;
}

.tituloparrafo {
    line-height: 3em;
    font-size: 18px;
}

.card2 {
    padding: 1px;
}

.opcionservicio3 {
    border-radius: 0.50rem;
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.25);
    border-color: #FFF;
    margin: 0 0 20px 0;
    padding: 0.75rem;
}

.card-header-nivel-3 {
    background-color: #FFFFFF;
    border-bottom: 0;
    text-align: right;
    color: #008fa3;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 600;
    padding: 0rem;
}

.icono_rubro {
    height: 41px;
    float: left;
}

.serv_destacado_3 {
    color: #171717;
    font-size: 0.8em;
    font-weight: 600;
}

.serv_resumen_3 {
    font-size: 0.8em;
    font-weight: 400;
}

/* HEADER */
.ctrl_arriba {
    background-color: #fafafa;
}

/*.headerline {
	height: 6px;
	width: 100%;
background: #47bcca; 
background: -moz-linear-gradient(left,  #47bcca 1%, #47bcca 32%, #66a1aa 32%, #66a1aa 67%, #005b88 67%, #005b88 100%);
background: -webkit-linear-gradient(left,  #47bcca 1%,#47bcca 32%,#66a1aa 32%,#66a1aa 67%,#005b88 67%,#005b88 100%);
background: linear-gradient(to right,  #47bcca 1%,#47bcca 32%,#66a1aa 32%,#66a1aa 67%,#005b88 67%,#005b88 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47bcca', endColorstr='#005b88',GradientType=1 );  
}*/

.ingresar {
    background-color: #005b88 !important;
    border-color: #005b88 !important;
    font-family: 'Montserrat', sans-serif;
}

.btn-sistema {
    color: #fff;
    background-color: #24688d;
    border-color: #24688d;
}

.btn-secondary {
    color: #24688d;
    background-color: #FFFFFF;
    border-color: #24688d;
}

.menuusuario {
    color: #005b88;
}

.notificaciones_header {
    background: #008FA3;
    color: #FFFFFF;
}

.notificaciones_footer {
    background: #008FA3;
    color: #FFFFFF;
}

.notificacion-titulo {
    color: #24688d;
}

.notificacion-separador {
	padding-top: 15px;
}


/* CALENDARIO */

.marco_turno {
    border-radius: 0.50rem;
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.25);
    border-color: #FFF;
    margin: 0 0 20px 0;
    padding: 0.75rem;
	background-color:#FFFFFF;
}

.turnofecha {
    background-color: #FFFFFF;
    border-bottom: 0;
    text-align: right;
    color: #008fa3;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 600;
    padding: 0rem;
}

.turnotexto {
    font-size: 0.8em;
    font-weight: 400;
	color: #333;
}


.fondocredencial {
    background-image: url(/custom/parana/imagenes/credencialfondo.jpg);
    background-repeat: no-repeat;
    background-size: 498px 881px;
    height: 881px;
    width: 500px;
    padding: 0;
}

.titulo_credencial {
    font-size: 1.6em;
    text-align: center;
    font-weight: bold;
    color: #000000;
    margin-top: 150px;
}

.qr_credencial {
    margin-top: 90px;
    margin-left: 120px;
}

.img_qr {
    height: 250px;
}

.apenom_credencial {
    margin-top: 37px;
    margin-left: 100px;
    font-size: 0.95em;
    font-weight: bold;
    color: #000;
    display: none;
}

.dni_credencial {
    margin-top: 26px;
    margin-left: 100px;
    font-size: 0.95em;
    font-weight: bold;
    color: #000;
    display: none;
}

.SECR_TEXTO_CREDENCIAL {
    margin-top: 180px;
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    display: none;
}

.vigencia {
    margin-top: 0;
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    display:none;
}

.modal-header-credencial {
    width: 500px;
}

.modal-content-credencial {
    background-color: unset !important;
}


@media (max-width: 500px) {
    #upd_credencial {
        padding: 0px !important;
    }

    .modal-header-credencial {
        width: 352px;
    }


    .fondocredencial {
        background-image: url(/custom/parana/imagenes/credencialfondo.jpg);
        background-repeat: no-repeat;
        background-size: 352px 620px;
        height: 620px;
        width: 352px;
        padding: 0;
    }

    .titulo_credencial {
        font-size: 1.2em;
        text-align: center;
        font-weight: bold;
        color: #000000;
        margin-top: 150px;
    }

    .qr_credencial {
        margin-top: 30px;
        margin-left: 50px;
    }

    .img_qr {
        height: 250px;
    }

    .apenom_credencial {
        margin-top: 23px;
        margin-left: 70px;
        font-size: 0.80em;
        font-weight: bold;
        color: #000;
    }

    .dni_credencial {
        margin-top: 15px;
        margin-left: 70px;
        font-size: 0.80em;
        font-weight: bold;
        color: #000;
    }

    .SECR_TEXTO_CREDENCIAL {
        margin-top: 110px;
        text-align: center;
        font-size: 1.3em;
        font-weight: bold;
        color: #fff;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #000;
    }

    .vigencia {
        margin-top: -14px;
        text-align: center;
        font-size: 1.2em;
        font-weight: bold;
        color: #fff;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #000;
    }
}

@media (max-width: 990px) {
    .pie {
        float: none;
        margin: 0 auto;
    }
}

@media (max-width: 445px) {
    .logopiecontainer {
        float: none;
        margin: 0 auto;
    }

    .textopie {
        float: none;
        margin: 0 auto;
    }
}


.ctrl_arriba_sin_login {
    background-color: #009bdb;
    background: rgb(0,31,255);
    background: linear-gradient(90deg, rgba(0,31,255,1) 0%, rgba(76,237,253,1) 35%, rgba(255,255,255,1) 86%);
    border-radius: 10px 10px 0 0;
}


/* SERVICIOS SECUNDARIOS */

.center {
    width: 100%;
}

.container-secundario{
	border-radius: 30px;
	overflow: hidden;
	margin: 10px;
}
.container-secundario img {
-webkit-transition:all .9s ease; /* Safari y Chrome */
-moz-transition:all .9s ease; /* Firefox */
-o-transition:all .9s ease; /* IE 9 */
-ms-transition:all .9s ease; /* Opera */
width:100%;
}
.container-secundario:hover img {
-webkit-transform:scale(1.25);
-moz-transform:scale(1.25);
-ms-transform:scale(1.25);
-o-transform:scale(1.25);
transform:scale(1.25);
}